#div2 {
    background: $color1;
    height: 400px;
    div {
        p {
            color: $color4;
            padding: 10px 0px;
            font-family: 'Bebas Neue', cursive;
            font-size: 20px;
        }
    }
}
@media screen and (max-width:426px) {
    #div2 {
        height: 600px;
    }
}