#div2 {
    background: $color1;
    height: 500px;
    div {
        p {
            color: $color4;
            padding: 10px 0px;
            font-family: 'Bebas Neue', cursive;
            font-size: 20px;
        }
    }
}