footer {
    background: $color3;
    div {
        padding-top: 20px;
    }
    #dire {
        font-family: 'Bebas Neue', cursive;
        color: $color4;
    }
    #redes {
        ul {
            li {
                padding: 0px 20px;
                a {
                    color: $color4;
                    img {
                        height: 40px;
                        width: 40px;
                    }
                }
            }
        }
    }
}
