@import "./index/color";
@import "./index/nav";
@import "./index/div1";
@import "./index/div2";
@import "./index/footer";
@import "./Productos/div_p";
@import "./Sucursales/sucursal";
@import "./contacto/contacto";


body {
    background: $color5;
    padding: 0;
    margin: 0;
}



