.container-fluid {
    background: #262621;
}
#nav {
    background: #D9CCC1;
    height: 80px;
}
#nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
#nav ul li {
    display: flex;
    width: 100px;
    justify-content: center;
}
#nav ul li a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-family: 'Bebas Neue', cursive;
}
#nav ul li a:hover {
    color: #D9665B;
    border-bottom: #D9665B solid 2px;
}
#img {
width: 100px;
}
#logo {
    height: 60px;
    width: 60px;
    border-radius: 50%
}
#ubic {
    background: #D9665B;
    height: 600px;
}
.info {
    width: 300px;
    height: 600px;
    padding-top: 150px;
    font-family: 'Libre Baskerville', serif;
}
.info a {
    font-size: 25px;
    color: #D9CCC1;
    text-decoration: none;
}
.info a:hover {
    font-size: 27px;
} 
.ubi {
    width: 850px;
    margin-left: -20px;
}
.ife {
    border: #262621 solid 4px;
}
#form {
    height: 200px;
    background: #b5a89f;
    display: flex;
    justify-content: center;
}
.email {
    width: 200px;
    height: 40px;
}
.boton {
    height: 40px;
    width: 170px;
    background: #262621;
    color: #D9CCC1;
}
#fo {
    padding-top: 40px;
}
#dej {
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
}
#footer {
    background: #908780;
}
#dir {
    padding-top: 20px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
#avis li {
    padding: 0px 20px;
    border-right: rgb(97, 97, 97) 2px solid;
}
#avis li a {
    text-decoration: none;
    color: rgb(97, 97, 97);
}
.acc {
    border-left: 2px solid rgb(97, 97, 97);
}
#red {
    padding-top: 20px;
}
#red img {
    width: 40px;
    height: 40px;
}
#red li {
    padding: 0px 20px;
}