.container-fluid {
    background: #262621;
}
#nav {
    background: #F2D49B;
    font-family: 'Bebas Neue', cursive;
}
.row ul li a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.ini {
    padding-left: 30px;
}
#logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#img {
    height: 130px;
    width: 130px;
    padding-top: 20px;
    transition: height 2s, width 2s;
}
#img:hover {
    height: 150px;
    width: 150px;
}
#form_name {
    padding-top: 100px;
    width: 400px;
}
#form_apel {
    width: 400px;
}
#form_mail {
    width: 400px;
}
#form {
    height: 400px;
    width: 420px;
    margin-top: 100px;
    background: #f2d49b58;
    border: #F2D49B solid 3px;
}
.boton {
    width: 80px;
    font-family: 'Bebas Neue', cursive;
}
#footer {
    background: #F2D49B;
}
#footer ul li {
    padding: 30px 0px;
}
#footer ul li a {
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}
.fac {
    padding-left: 10px;
}